html, body {
  border: 0;
  padding: 0;
}

.header {
    border: solid 1px #d3d3d3;
    height: 30px;
    width: 100%;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 1);
    overflow-y: hidden;
    transition: 0.5s;
    color: #333;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1 {
  width: 35px;
  height: 5px;
  background-color: yellow;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2 {
  width: 35px;
  height: 5px;
  background-color: red;
  margin: 6px 0;
  transition: 0.4s;
}

.bar3 {
  width: 35px;
  height: 5px;
  background-color: blue;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropbtn {
  background-color: yellow;
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: yellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

div.scrollmenu {
  background-color: grey;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a{
  display: inline-block;
  text-align: right;
  padding: 11px;
  text-decoration: none;
}
div.scrollmenu a:hover{
  background-color: yellow;
}


#addbtn{float:right;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding: 18px;
  background-color: #f0f0f0;
  color: black;
}<Paste>

*/
