body {
	font-family: 'Trebuchet MS';
}
table {
	text-align:center;
}
table th, table tr, table td {
	margin:0;
	padding:10px;
	border-width:0;
	font-size: 1.5em;
}

/* Popup container */
.popup {
    cursor: pointer;
}
.editheader input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.editheader label{
	border-radius: 100%;
  	font-size: 14px;
  padding: 20px 20px;
  background-color: #f9c21d;
  margin: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.editheader input:checked + label {
  -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
}

.editheader .bluebtn{
	background-color: #2a3b4f;
}
.editheader .blgreenbtn{
	background-color: #16b99a;
}
.editheader .greenbtn{
	background-color: #38cc80;
}
.editheader .yellowbtn{
	background-color: #f9c21d;
}
.editheader .redbtn{
	background-color: #fd4543;
}

#edit {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50%;
	background: #333;
	transition: bottom 0.3s linear 0s;
}

.edit-hidden {
	display: none;
}

.edit-show {
	display: inline-block;
}

.editselect{
	margin: 20px;
}
.editselect .color-check{
	margin: 10px;
}